* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

main {
    height: 100%;
    line-height: 20px;
    display: grid;
    justify-items: center;   
}

.titulo {
    margin-bottom: 40px;
}

strong {
    text-decoration: underline;
}

.ingredientes, .preparacion {
    margin: 0 50px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.ingredientes {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
}

.preparacion li:first-of-type{
    grid-row: 1/3;
}
